<div class='partial'>
  <picture><img
      class='beer-image'
      src='{{this.image_url}}'
      alt='{{this.name}}'
    /></picture>
  <div class='text'>
    <h1>{{this.name}}</h1>
    <p>{{this.description}}</p>
    <p id='tagline'>{{this.tagline}}</p>
  </div>
</div>